<main id="main-content" class="pls-site-content">	
		
			<div id="page-title" class="pls-page-title pls-page-title-center title-size-default color-scheme-dark" >
	<div class="container">
		<div class="row">
			<div class="col">
				
<div class="entry-header">
	
	<h1 class="title">
		<!--@page_title-->	</h1>
	
		
</div>
<div class="entry-breadcrumb">
	<!--@breadcrumb--></div>				
			</div>
		</div>
	</div>
</div><!-- .pls-page-title -->			
						
			<div class="pls-site-container container">
			
								
				<div class="row flex-row-reverse">
<div id="primary" class="pls-content-area col-12 col-md-8 col-lg-9 col-xl-9"><header class="woocommerce-products-header">
	
	</header>
<div class="woocommerce-notices-wrapper"></div>
<div class="pls-products-header">
	<div class="pls-products-header-filters">
		<div class="pls-products-header-filters-left">
					<!--@products_view-->		</div>
		<div class="pls-products-header-filters-right">
			<form class="woocommerce-ordering" method="get">
	<span class="pls-ordering-label">Sort by</span>
	<select 
		name="orderby" 
		class="orderby" 
		aria-label="Shop order"
	>
<!--@orderby_options-->			</select>
	<!--@ordering_hidden--></form>
		</div>
	</div>
	<div class="pls-products-active-filters">
		<div class="woocommerce-result-count" role="alert" aria-relevant="all" >
<!--@result_count--></div>
		<div class="pls-active-filters">
					</div>
		</div>
	</div>	<!--@products-->
</div><!-- .pls-content-area -->
<div id="secondary" class="pls-widget-area col-12 col-md-4 col-lg-3 col-xl-3">
	<div class="sidebar-inner">
<!--@sidebar-->	</div>
</div><!-- #secondary -->				</div><!-- .row -->
				
								
			</div><!-- .container -->
			
						
		</main>