<main id="main-content" class="pls-site-content">	
		
			<div id="page-title" class="pls-page-title pls-page-title-center title-size-default color-scheme-dark" >
	<div class="container">
		<div class="row">
			<div class="col">
				
<div class="entry-header">
	
	<h1 class="title">
		Cart	</h1>
	
		
</div>
<div class="entry-breadcrumb">
	<nav class="pls-breadcrumb"><a href="/">Home</a><span class="pls-delimiter-sep pls-greater-than"></span><a href="/shop/">Products</a><span class="pls-delimiter-sep pls-greater-than"></span><span class="last">Cart</span></nav></div>				
			</div>
		</div>
	</div>
</div><!-- .pls-page-title -->			
						
			<div class="pls-site-container container">
			
								
				<div class="row ">

<div id="primary" class="pls-content-area col-md-12">
<article id="post-1680" class="post-1680 page type-page status-publish hentry">
	
		
<div class="entry-content">
	
<div data-block-name="woocommerce/cart" class="wp-block-woocommerce-cart alignwide is-loading">
<div data-block-name="woocommerce/filled-cart-block" class="wp-block-woocommerce-filled-cart-block">
<div data-block-name="woocommerce/cart-items-block" class="wp-block-woocommerce-cart-items-block">
<div data-block-name="woocommerce/cart-line-items-block" class="wp-block-woocommerce-cart-line-items-block"></div>



<div data-block-name="woocommerce/cart-cross-sells-block" class="wp-block-woocommerce-cart-cross-sells-block">
<h2 class="wp-block-heading has-large-font-size">You may be interested in…</h2>



<div data-block-name="woocommerce/cart-cross-sells-products-block" class="wp-block-woocommerce-cart-cross-sells-products-block"></div>
</div>
</div>



<div data-block-name="woocommerce/cart-totals-block" class="wp-block-woocommerce-cart-totals-block">
<div data-block-name="woocommerce/cart-order-summary-block" class="wp-block-woocommerce-cart-order-summary-block">
<div data-block-name="woocommerce/cart-order-summary-heading-block" class="wp-block-woocommerce-cart-order-summary-heading-block"></div><div data-block-name="woocommerce/cart-order-summary-coupon-form-block" class="wp-block-woocommerce-cart-order-summary-coupon-form-block"></div><div data-block-name="woocommerce/cart-order-summary-totals-block" class="wp-block-woocommerce-cart-order-summary-totals-block">
<div data-block-name="woocommerce/cart-order-summary-subtotal-block" class="wp-block-woocommerce-cart-order-summary-subtotal-block"></div>
<div data-block-name="woocommerce/cart-order-summary-discount-block" class="wp-block-woocommerce-cart-order-summary-discount-block"></div>
<div data-block-name="woocommerce/cart-order-summary-fee-block" class="wp-block-woocommerce-cart-order-summary-fee-block"></div>
<div data-block-name="woocommerce/cart-order-summary-shipping-block" class="wp-block-woocommerce-cart-order-summary-shipping-block"></div>
<div data-block-name="woocommerce/cart-order-summary-taxes-block" class="wp-block-woocommerce-cart-order-summary-taxes-block"></div></div>
</div>



<div data-block-name="woocommerce/cart-express-payment-block" class="wp-block-woocommerce-cart-express-payment-block"></div>



<div data-block-name="woocommerce/proceed-to-checkout-block" class="wp-block-woocommerce-proceed-to-checkout-block"></div>



<div data-block-name="woocommerce/cart-accepted-payment-methods-block" class="wp-block-woocommerce-cart-accepted-payment-methods-block"></div>
</div>
</div>



<div data-block-name="woocommerce/empty-cart-block" class="wp-block-woocommerce-empty-cart-block">
<h2 class="wp-block-heading has-text-align-center with-empty-cart-icon wc-block-cart__empty-cart__title">Your cart is currently empty!</h2>



<hr class="wp-block-separator has-alpha-channel-opacity is-style-dots"/>



<h2 class="wp-block-heading has-text-align-center">New in store</h2>


<div data-block-name="woocommerce/product-new" data-columns="4" data-rows="1" class="wc-block-grid wp-block-product-new wp-block-woocommerce-product-new wc-block-product-new has-4-columns"><ul class="wc-block-grid__products"><li class="wc-block-grid__product">
				<a href="/product/loreal-elvive-collagen-lifter-shampoo/" class="wc-block-grid__product-link">
					
					<div class="wc-block-grid__product-image"><img fetchpriority="high" decoding="async" width="500" height="500" src="/wp-content/uploads/woocommerce-placeholder-500x500.png" class="woocommerce-placeholder wp-post-image" alt="" srcset="/wp-content/uploads/woocommerce-placeholder-500x500.png 500w, /wp-content/uploads/woocommerce-placeholder-150x150.png 150w, /wp-content/uploads/woocommerce-placeholder-800x800.png 800w, /wp-content/uploads/woocommerce-placeholder-300x300.png 300w, /wp-content/uploads/woocommerce-placeholder-1024x1024.png 1024w, /wp-content/uploads/woocommerce-placeholder-768x768.png 768w, /wp-content/uploads/woocommerce-placeholder.png 1200w" sizes="(max-width: 500px) 100vw, 500px" /></div>
					<div class="wc-block-grid__product-title">L&#8217;Oreal Elvive Collagen Lifter Shampoo</div>
				</a>
				<div class="wc-block-grid__product-price price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>5.71</span></div>
				
				<div class="wp-block-button wc-block-grid__product-add-to-cart"><a href="/product/loreal-elvive-collagen-lifter-shampoo/" aria-label="Select options for &ldquo;L&#039;Oreal Elvive Collagen Lifter Shampoo&rdquo;" data-quantity="1" data-product_id="29061" data-product_sku="" data-price="5.71" rel="nofollow" class="wp-block-button__link  add_to_cart_button">Select options</a></div>
			</li><li class="wc-block-grid__product">
				<a href="/product/loreal-elvive-hyaluron-pure-purifying-shampoo/" class="wc-block-grid__product-link">
					
					<div class="wc-block-grid__product-image"><img fetchpriority="high" decoding="async" width="500" height="500" src="/wp-content/uploads/woocommerce-placeholder-500x500.png" class="woocommerce-placeholder wp-post-image" alt="" srcset="/wp-content/uploads/woocommerce-placeholder-500x500.png 500w, /wp-content/uploads/woocommerce-placeholder-150x150.png 150w, /wp-content/uploads/woocommerce-placeholder-800x800.png 800w, /wp-content/uploads/woocommerce-placeholder-300x300.png 300w, /wp-content/uploads/woocommerce-placeholder-1024x1024.png 1024w, /wp-content/uploads/woocommerce-placeholder-768x768.png 768w, /wp-content/uploads/woocommerce-placeholder.png 1200w" sizes="(max-width: 500px) 100vw, 500px" /></div>
					<div class="wc-block-grid__product-title">L&#8217;Oreal Elvive Hyaluron Pure Purifying Shampoo</div>
				</a>
				<div class="wc-block-grid__product-price price"><span class="woocommerce-Price-amount amount" aria-hidden="true"><span class="woocommerce-Price-currencySymbol">&#036;</span>4.27</span> <span aria-hidden="true">&ndash;</span> <span class="woocommerce-Price-amount amount" aria-hidden="true"><span class="woocommerce-Price-currencySymbol">&#036;</span>5.71</span><span class="screen-reader-text">Price range: &#036;4.27 through &#036;5.71</span></div>
				
				<div class="wp-block-button wc-block-grid__product-add-to-cart"><a href="/product/loreal-elvive-hyaluron-pure-purifying-shampoo/" aria-label="Select options for &ldquo;L&#039;Oreal Elvive Hyaluron Pure Purifying Shampoo&rdquo;" data-quantity="1" data-product_id="29056" data-product_sku="" data-price="4.27" rel="nofollow" class="wp-block-button__link  add_to_cart_button">Select options</a></div>
			</li><li class="wc-block-grid__product">
				<a href="/product/loreal-elvive-glycolic-gloss-shampoo/" class="wc-block-grid__product-link">
					
					<div class="wc-block-grid__product-image"><img fetchpriority="high" decoding="async" width="500" height="500" src="/wp-content/uploads/woocommerce-placeholder-500x500.png" class="woocommerce-placeholder wp-post-image" alt="" srcset="/wp-content/uploads/woocommerce-placeholder-500x500.png 500w, /wp-content/uploads/woocommerce-placeholder-150x150.png 150w, /wp-content/uploads/woocommerce-placeholder-800x800.png 800w, /wp-content/uploads/woocommerce-placeholder-300x300.png 300w, /wp-content/uploads/woocommerce-placeholder-1024x1024.png 1024w, /wp-content/uploads/woocommerce-placeholder-768x768.png 768w, /wp-content/uploads/woocommerce-placeholder.png 1200w" sizes="(max-width: 500px) 100vw, 500px" /></div>
					<div class="wc-block-grid__product-title">L&#8217;Oreal Elvive Glycolic Gloss Shampoo</div>
				</a>
				<div class="wc-block-grid__product-price price"><span class="woocommerce-Price-amount amount" aria-hidden="true"><span class="woocommerce-Price-currencySymbol">&#036;</span>4.27</span> <span aria-hidden="true">&ndash;</span> <span class="woocommerce-Price-amount amount" aria-hidden="true"><span class="woocommerce-Price-currencySymbol">&#036;</span>5.71</span><span class="screen-reader-text">Price range: &#036;4.27 through &#036;5.71</span></div>
				
				<div class="wp-block-button wc-block-grid__product-add-to-cart"><a href="/product/loreal-elvive-glycolic-gloss-shampoo/" aria-label="Select options for &ldquo;L&#039;Oreal Elvive Glycolic Gloss Shampoo&rdquo;" data-quantity="1" data-product_id="29051" data-product_sku="" data-price="4.27" rel="nofollow" class="wp-block-button__link  add_to_cart_button">Select options</a></div>
			</li><li class="wc-block-grid__product">
				<a href="/product/sol-de-janeiro-perfume-mist-cheirosa-59/" class="wc-block-grid__product-link">
					
					<div class="wc-block-grid__product-image"><img fetchpriority="high" decoding="async" width="500" height="500" src="/wp-content/uploads/woocommerce-placeholder-500x500.png" class="woocommerce-placeholder wp-post-image" alt="" srcset="/wp-content/uploads/woocommerce-placeholder-500x500.png 500w, /wp-content/uploads/woocommerce-placeholder-150x150.png 150w, /wp-content/uploads/woocommerce-placeholder-800x800.png 800w, /wp-content/uploads/woocommerce-placeholder-300x300.png 300w, /wp-content/uploads/woocommerce-placeholder-1024x1024.png 1024w, /wp-content/uploads/woocommerce-placeholder-768x768.png 768w, /wp-content/uploads/woocommerce-placeholder.png 1200w" sizes="(max-width: 500px) 100vw, 500px" /></div>
					<div class="wc-block-grid__product-title">Sol De Janeiro Perfume Mist Cheirosa 59</div>
				</a>
				<div class="wc-block-grid__product-price price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>60.00</span></div>
				
				<div class="wp-block-button wc-block-grid__product-add-to-cart"><a href="/product/sol-de-janeiro-perfume-mist-cheirosa-59/" aria-label="Select options for &ldquo;Sol De Janeiro Perfume Mist Cheirosa 59&rdquo;" data-quantity="1" data-product_id="29042" data-product_sku="" data-price="60" rel="nofollow" class="wp-block-button__link  add_to_cart_button">Select options</a></div>
			</li></ul></div></div>
</div>
</div><!-- .entry-content -->
		
</article><!-- #post-## -->


</div><!-- .pls-content-area -->
				</div><!-- .row -->
				
								
			</div><!-- .container -->
			
						
		</main>