<main id="main-content" class="pls-site-content">	
		
			<div id="page-title" class="pls-page-title pls-page-title-center title-size-default color-scheme-dark" >
	<div class="container">
		<div class="row">
			<div class="col">
				
<div class="entry-header">
	
	<h1 class="title">
		About Us	</h1>
	
		
</div>
<div class="entry-breadcrumb">
	<nav class="pls-breadcrumb"><a href="/">Home</a><span class="pls-delimiter-sep pls-greater-than"></span><span class="last">About Us</span></nav></div>				
			</div>
		</div>
	</div>
</div><!-- .pls-page-title -->			
						
			<div class="pls-site-container container">
			
								
				<div class="row ">

<div id="primary" class="pls-content-area col-md-12">
<article id="post-38" class="post-38 page type-page status-publish hentry">
	
		
<div class="entry-content">
			<div data-elementor-type="wp-page" data-elementor-id="38" class="elementor elementor-38">
				<div class="elementor-element elementor-element-771f7c3 e-flex e-con-boxed e-con e-parent" data-id="771f7c3" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-d5bacec elementor-widget elementor-widget-pls-heading" data-id="d5bacec" data-element_type="widget" data-e-type="widget" data-widget_type="pls-heading.default">
				<div class="elementor-widget-container">
					<div id="pls-header-3727" class="pls-element pls-heading pls-text-center separator-none">	
			
		
    		<div class="heading-tagline"> Poudre' is a retail shop based in Lebanon that started serving its customers since May 2015.

We're dedicated to offer you genuine products (cosmetics, perfumes, skin care, nail care, hair care and all your beauty supplies).

In April 2021, www.PoudreBeauty.com was launched and looking forward to serve users and to meet tomorrow's beauty needs. </div>
	</div>				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-6f28df1 e-flex e-con-boxed e-con e-parent" data-id="6f28df1" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-ee7ba46 e-con-full e-flex e-con e-child" data-id="ee7ba46" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-f83d66f elementor-widget elementor-widget-pls-heading" data-id="f83d66f" data-element_type="widget" data-e-type="widget" data-widget_type="pls-heading.default">
				<div class="elementor-widget-container">
					<div id="pls-header-67822" class="pls-element pls-heading pls-text-center separator-none">	
			
			<div class="heading-wrap">
			<span class="separator-left"></span>
			<h2 class="heading-title">Sign up and get 10% off</h2>			<span class="separator-right"></span>
					</div>
		
    		<div class="heading-tagline"> Sign up for early sale access, new in, promotions and more </div>
	</div>				</div>
				</div>
				<div class="elementor-element elementor-element-ebe579f elementor-widget elementor-widget-pls-newsletter" data-id="ebe579f" data-element_type="widget" data-e-type="widget" data-widget_type="pls-newsletter.default">
				<div class="elementor-widget-container">
					<div class="pls-element pls-newsletter overlay-form ">
	</div>				</div>
				</div>
				</div>
					</div>
				</div>
				</div>
		</div><!-- .entry-content -->
		
</article><!-- #post-## -->


</div><!-- .pls-content-area -->
				</div><!-- .row -->
				
								
			</div><!-- .container -->
			
						
		</main>