<main id="main-content" class="pls-site-content">	
		
			
<div class="pls-single-product-top">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="pls-sp-breadcrumb-navigation">
					
<div class="entry-breadcrumb">
	<!--@breadcrumb--></div>		
		<!--@product_nav-->
					</div>
			</div>
		</div>
	</div>
</div><!-- .pls-single-product-top -->			
						
			<div class="pls-site-container container">
			
								
				<div class="row ">
	
<div id="primary" class="pls-content-area col-md-12">
					
			<div class="woocommerce-notices-wrapper"></div>
<div id="product-<!--@product_id-->" class="<!--@product_class-->">
	
	
<div class="pls-single-product-wrapper">
	<div class="single-product-content row">
		<div class="col-md-6">
			<!--@gallery-->
		</div>
		<div class="col-md-6">
			<!--@summary-->
		</div>
	</div>			
</div>	
	
	<!--@tabs-->

</div>


		
	
</div><!-- .pls-content-area -->
	
				</div><!-- .row -->
				
<!--@related-->
					
			</div><!-- .container -->
			
						
		</main>