<main id="main-content" class="pls-site-content">	
		
			<div id="page-title" class="pls-page-title pls-page-title-center title-size-default color-scheme-dark" >
	<div class="container">
		<div class="row">
			<div class="col">
				
<div class="entry-header">
	
	<h1 class="title">
		Terms &#038; condition	</h1>
	
		
</div>
<div class="entry-breadcrumb">
	<nav class="pls-breadcrumb"><a href="/">Home</a><span class="pls-delimiter-sep pls-greater-than"></span><span class="last">Terms &#038; condition</span></nav></div>				
			</div>
		</div>
	</div>
</div><!-- .pls-page-title -->			
						
			<div class="pls-site-container container">
			
								
				<div class="row ">

<div id="primary" class="pls-content-area col-md-12">
<article id="post-42" class="post-42 page type-page status-publish hentry">
	
		
<div class="entry-content">
			<div data-elementor-type="wp-page" data-elementor-id="42" class="elementor elementor-42">
				<div class="elementor-element elementor-element-583221a e-flex e-con-boxed e-con e-parent" data-id="583221a" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-b180579 elementor-widget elementor-widget-html" data-id="b180579" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
					<div class="col-lg-12">
                    <div class="entry-content">

                        <p>If you wish to return or exchange your order, please contact us at <a href="mailto:info@poudrebeauty.com">info@poudrebeauty.com </a>or on ‪+96176545624‬ with details of the purchase.</p>
                        <h3>Terms & conditions:</h3>
                        <ul style="list-style: disc">
                            <li>No exchange or returns for non-cellophane items.</li>
                            <li>Products can be returned within 10 days of the delivery.</li>
                            <li>They must be unused, in their original condition and packaging.</li>
                            <li>Products must be accompanied by the original receipt.</li>
                            <li>The delivery fee and risk of returning/exchanging the product is the responsibility of the customer.</li>
                            <li>We do not accept any claims of breakages or shortages unless they are stated on the courier's documentation.</li>
                        </ul>


                        <p>
                            Our liability shall be restricted to refunding or replacing the products which are damaged or are faulty upon receipt.
                        </p>

                    </div>
                </div>				</div>
				</div>
				<div class="elementor-element elementor-element-6ad67d6 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-pls-heading" data-id="6ad67d6" data-element_type="widget" data-e-type="widget" data-widget_type="pls-heading.default">
				<div class="elementor-widget-container">
					<div id="pls-header-12749" class="pls-element pls-heading pls-text-center separator-none">	
			
			<div class="heading-wrap">
			<span class="separator-left"></span>
			<h2 class="heading-title">How to Place Order?</h2>			<span class="separator-right"></span>
					</div>
		
    		<div class="heading-tagline"> Please follow our  questions here. dolor sit amet, consectetur adipisicing elit, adipisicing tempor incididunt ut labore et dolore magna.  </div>
	</div>				</div>
				</div>
				<div class="elementor-element elementor-element-42a3076 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-pls-accordion" data-id="42a3076" data-element_type="widget" data-e-type="widget" data-widget_type="pls-accordion.default">
				<div class="elementor-widget-container">
					
<div id="pls-accordion-70989" class="pls-element pls-accordion panel-group align-left icon-position-right">	
			
		<div class="card pls-accordion-item">
			<div class="card-header accordion-title">
				<h4 class="card-title">
					<a class="card-link open" href="#elementor-tab-title-6981" data-style="default">
					Where is my order?					</a>
				</h4>
			</div>
			<div id="elementor-tab-title-6981" class="collapse accordion-tab-content show">
				<div class="card-body">
					<p>The courier companies have adapted their procedures to guarantee the safety of our employees and our community. We thank you for your patience, as there may be some delays to deliveries. We remind you that you can still find us at Mango.com and on all our online channels. </p>				</div>
			</div>
		</div>
			
		<div class="card pls-accordion-item">
			<div class="card-header accordion-title">
				<h4 class="card-title">
					<a class="card-link " href="#elementor-tab-title-6983" data-style="default">
					How can I exchange or return an item purchased online?					</a>
				</h4>
			</div>
			<div id="elementor-tab-title-6983" class="collapse accordion-tab-content ">
				<div class="card-body">
					<p>The courier companies have adapted their procedures to guarantee the safety of our employees and our community. We thank you for your patience, as there may be some delays to deliveries. We remind you that you can still find us at Mango.com and on all our online channels. Our customer services are still there for you, to answer any questions you may have, although due to the current situation.</p>				</div>
			</div>
		</div>
			
		<div class="card pls-accordion-item">
			<div class="card-header accordion-title">
				<h4 class="card-title">
					<a class="card-link " href="#elementor-tab-title-6985" data-style="default">
					Can I cancel or change my order?					</a>
				</h4>
			</div>
			<div id="elementor-tab-title-6985" class="collapse accordion-tab-content ">
				<div class="card-body">
					<p>The courier companies have adapted their procedures to guarantee the safety of our employees and our community. We thank you for your patience, as there may be some delays to deliveries. We remind you that you can still find us at Mango.com and on all our online channels.</p>				</div>
			</div>
		</div>
			
		<div class="card pls-accordion-item">
			<div class="card-header accordion-title">
				<h4 class="card-title">
					<a class="card-link " href="#elementor-tab-title-6987" data-style="default">
					What are the delivery types?					</a>
				</h4>
			</div>
			<div id="elementor-tab-title-6987" class="collapse accordion-tab-content ">
				<div class="card-body">
					<p>The courier companies have adapted their procedures to guarantee the safety of our employees and our community. We thank you for your patience, as there may be some delays to deliveries. We remind you that you can still find us at Mango.com and on all our online channels.</p>				</div>
			</div>
		</div>
			
		<div class="card pls-accordion-item">
			<div class="card-header accordion-title">
				<h4 class="card-title">
					<a class="card-link " href="#elementor-tab-title-6989" data-style="default">
					How can I pay for my purchases?					</a>
				</h4>
			</div>
			<div id="elementor-tab-title-6989" class="collapse accordion-tab-content ">
				<div class="card-body">
					<p>The courier companies have adapted their procedures to guarantee the safety of our employees and our community. We thank you for your patience, as there may be some delays to deliveries. We remind you that you can still find us at Mango.com and on all our online channels.</p>				</div>
			</div>
		</div>
	</div>				</div>
				</div>
					</div>
				</div>
				</div>
		</div><!-- .entry-content -->
		
</article><!-- #post-## -->


</div><!-- .pls-content-area -->
				</div><!-- .row -->
				
								
			</div><!-- .container -->
			
						
		</main>